# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

datashader
geopandas
matplotlib
notebook
numpy
osmnx
pandas
rioxarray
scipy
shapely
xarray-spatial
xarray
