# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

datashader~=0.13
geopandas~=0.10
matplotlib
notebook~=6.4
numpy
osmnx~=1.1
pandas
rioxarray~=0.10
scipy~=1.8
shapely
xarray-spatial~=0.3
xarray~=0.21
